CONFIG_HOST_LINUX=y
# CONFIG_HOST_MACOS is not set
# CONFIG_HOST_WINDOWS is not set
# CONFIG_HOST_OTHER is not set
CONFIG_APPS_DIR="../apps"
# CONFIG_BASE_DEFCONFIG="t3-gem-o1:nsh-dirty"
CONFIG_BUILD_FLAT=y
# CONFIG_BUILD_PIC is not set
# CONFIG_BUILD_2PASS is not set
# CONFIG_DEBUG_FEATURES is not set
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEBUG_SYMBOLS_LEVEL="-g"
CONFIG_ARCH_ARM=y
CONFIG_ARCH="arm"
CONFIG_ARM_TOOLCHAIN_GNU_EABI=y
CONFIG_ARCH_CHIP="am67"
CONFIG_ARCH_CHIP_AM67=y
CONFIG_ARCH_ARMV7R=y
CONFIG_ARCH_CORTEXR5=y
#CONFIG_ARM_HAVE_DPFPU32=y
CONFIG_ARM_HAVE_NEON=y
CONFIG_ARCH_HAVE_LOWVECTORS=y
CONFIG_ARCH_LOWVECTORS=y
CONFIG_ARCH_TOOLCHAIN_GNU=y
# CONFIG_ARCH_TOOLCHAIN_CLANG is not set
CONFIG_ARCH_TOOLCHAIN_GCC=y
CONFIG_ARCH_HAVE_IRQPRIO=y
# CONFIG_ARCH_ICACHE is not set
# CONFIG_ARCH_DCACHE is not set
# CONFIG_ARCH_L2CACHE is not set
CONFIG_ARCH_HAVE_ADDRENV=y
CONFIG_ARCH_NEED_ADDRENV_MAPPING=y
CONFIG_ARCH_HAVE_FORK=y
#CONFIG_ARCH_HAVE_FPU=y
#CONFIG_ARCH_HAVE_DPFPU=y
CONFIG_ARCH_HAVE_THREAD_LOCAL=y
CONFIG_ARCH_HAVE_FETCHADD=y
CONFIG_ARCH_HAVE_SYSCALL_HOOKS=y
CONFIG_ARCH_HAVE_BACKTRACE=y
CONFIG_ARCH_HAVE_TCBINFO=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH_STACKDUMP_MAX_LENGTH=0
CONFIG_BOARD_LOOPSPERMSEC=49341
CONFIG_ARCH_HAVE_INTERRUPTSTACK=y
CONFIG_ARCH_INTERRUPTSTACK=2048
# CONFIG_BOOT_RUNFROMEXTSRAM is not set
# CONFIG_BOOT_RUNFROMFLASH is not set
# CONFIG_BOOT_RUNFROMISRAM is not set
CONFIG_BOOT_RUNFROMSDRAM=y
# CONFIG_BOOT_COPYTORAM is not set
CONFIG_RAM_START=0x0
CONFIG_RAM_SIZE=524288
CONFIG_ARCH_HAVE_SDRAM=y
CONFIG_ARCH_BOARD_T3_GEM_O1=y
# CONFIG_ARCH_BOARD_CUSTOM is not set
CONFIG_ARCH_BOARD="t3-gem-o1"
CONFIG_HAVE_CXX=y
CONFIG_HAVE_CXXINITIALIZE=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_SYSTEM_NSH=y
