CONFIG_HOST_LINUX=y
CONFIG_APPS_DIR="../apps"
# CONFIG_BASE_DEFCONFIG="t3-gem-o1:nsh"
CONFIG_BUILD_FLAT=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEBUG_SYMBOLS_LEVEL="-g"
CONFIG_ARCH_ARM=y
CONFIG_ARCH="arm"
CONFIG_ARM_TOOLCHAIN_GNU_EABI=y
CONFIG_ARCH_CHIP="am67"
CONFIG_ARCH_CHIP_AM67=y
CONFIG_ARCH_ARMV7R=y
CONFIG_ARCH_CORTEXR5=y
CONFIG_ARCH_HAVE_FPU=y
CONFIG_ARM_HAVE_DPFPU32=y
CONFIG_ARM_HAVE_NEON=y
CONFIG_ARCH_HAVE_LOWVECTORS=y
CONFIG_ARCH_LOWVECTORS=y
CONFIG_ARCH_HAVE_IRQPRIO=y
CONFIG_ARCH_ICACHE=y
CONFIG_ARCH_DCACHE=y
CONFIG_ARCH_HAVE_ADDRENV=y
CONFIG_ARCH_NEED_ADDRENV_MAPPING=y
CONFIG_ARCH_HAVE_FORK=y
#CONFIG_ARCH_HAVE_FPU=n
#CONFIG_ARCH_HAVE_DPFPU=n
CONFIG_ARCH_HAVE_THREAD_LOCAL=y
CONFIG_ARCH_HAVE_FETCHADD=y
CONFIG_ARCH_HAVE_SYSCALL_HOOKS=y
CONFIG_ARCH_HAVE_BACKTRACE=y
CONFIG_ARCH_HAVE_TCBINFO=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH_STACKDUMP_MAX_LENGTH=0
CONFIG_BOARD_LOOPSPERMSEC=49341
CONFIG_ARCH_HAVE_INTERRUPTSTACK=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_BOOT_RUNFROMSDRAM=y
CONFIG_RAM_START=0x0079100000
CONFIG_RAM_SIZE=524288
CONFIG_ARCH_HAVE_SDRAM=y
CONFIG_ARCH_BOARD_T3_GEM_O1=y
CONFIG_ARCH_BOARD="t3-gem-o1"
CONFIG_HAVE_CXX=y
CONFIG_HAVE_CXXINITIALIZE=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_SYSTEM_NSH=y
CONFIG_SMP=n
CONFIG_UART_SERIALDRIVER=y
CONFIG_UART0_SERIALDRIVER=y
CONFIG_UART0_IRQ=217
CONFIG_UART0_BASE=0x4A00000
CONFIG_UART0_CLK_FREQ=48000000
CONFIG_RAW_BINARY=y
CONFIG_ARMV7R_HAVE_GICv2=n
#CONFIG_ARCH_FPU=n
#CONFIG_ARCH_DPFPU=n
CONFIG_ARM_HAVE_DPFPU32=n
CONFIG_ARM_DPFPU32=n
CONFIG_LIBC_ARCH_ATOMIC=y
CONFIG_NSH_ARCHINIT=y
CONFIG_SERIAL=y
CONFIG_DISABLE_ENVIRON=n
CONFIG_ARCH_HAVE_SERIAL_TERMIOS=n
CONFIG_SERIAL_CONSOLE=y
CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_DEV_CONSOLE=y
CONFIG_DEV_NULL=y
CONFIG_CONSOLE_SYSLOG=n
CONFIG_ARCH_ADDRENV=y
