CONFIG_16550_ADDRWIDTH=32
CONFIG_16550_REGWIDTH=32
CONFIG_16550_UART0=y
CONFIG_16550_UART0_BASE=0x2810000
CONFIG_16550_UART0_CLOCK=48000000
CONFIG_16550_UART0_IRQ=211
CONFIG_16550_UART0_SERIAL_CONSOLE=y
CONFIG_16550_UART=y
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="t3-gem-o1"
CONFIG_ARCH_BOARD_T3_GEM_O1=y
CONFIG_ARCH_CHIP="am67"
CONFIG_ARCH_CHIP_AM67=y
CONFIG_ARCH_CPUINFO_FREQ_KHZ=25000
CONFIG_ARCH_INTERRUPTSTACK=4096
CONFIG_ARCH_LOWVECTORS=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_BLINK=y
CONFIG_BOARD_LOOPSPERMSEC=49341
CONFIG_BOOT_RUNFROMISRAM=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_NOOPT=y
CONFIG_DEV_RPMSG=y
CONFIG_FS_RPMSGFS=y
CONFIG_HAVE_CXX=y
CONFIG_HAVE_CXXINITIALIZE=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_LIBC_ARCH_ATOMIC=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_PSEUDOFS_ATTRIBUTES=y
CONFIG_PSEUDOFS_FILE=y
CONFIG_PSEUDOFS_SOFTLINKS=y
CONFIG_RAM_SIZE=14680064
CONFIG_RAM_START=0xA2200000
CONFIG_RPMSG_PING=y
CONFIG_RPMSG_VIRTIO_LITE=y
CONFIG_RPTUN=y
CONFIG_SIG_DEFAULT=y
CONFIG_SYSTEM_NSH=y
CONFIG_TESTING_OSTEST=y
